.goal-item {
  position: relative;
  background: #8b005d;
  margin-bottom: 8px;
  padding: 8px;
  color: #FFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.goal-item.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #cc0000;
}
